<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style1.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li class="active"><a href="/about">About us</a></li>
            <li><a href="/predict">Predict</a></li>
            <li><a href="/contact">Contact us</a></li>
        </ul>
    </nav>
    <header class="header">
        <h1>Welcome to Smart Tomato Care</h1>
        <p>Your Solution to Healthy Tomato Crops</p>
    </header>
    <main class="content">
        <section class="intro">
            <h2>What We Offer</h2>
              <p> 1.<strong>Accurate Disease Detection:</strong> Identify tomato diseases with cutting-edge machine learning technology.
                <br><br>
                2.<strong>Disease Classification:</strong> Instantly differentiate between multiple diseases like Early Blight, Late Blight, and more.
                <br><br>
                3.<strong>Actionable Insights:</strong> Get tailored recommendations to protect and restore your crops.
                <br><br>
            </p>
        </section>
        
        <section class="why-us">
            <h2>Why Choose Us?</h2>
            <p>
                🌱 <strong>Efficient:</strong> Say goodbye to time-consuming manual inspections.  <br><br>
                🌱 <strong>Cost-Effective:</strong> Save on resources with early and accurate diagnosis.  <br><br>
                🌱 <strong>Farmer-Friendly:</strong> Easy-to-use system, accessible through mobile and web applications.  <br><br>
                🌱 <strong>Sustainable:</strong> Reduce pesticide usage and promote healthier farming practices. <br><br>
            </p>
        </section>
        
        <section class="how-it-works">
            <h2>How It Works</h2>
            <p>
                1. <strong>Upload a Leaf Image:</strong> Simply capture a photo of the affected tomato leaf. <br><br>
                2. <strong>AI Analysis:</strong> Our system analyzes the image and detects the disease. <br><br>
                3. <strong>Instant Results:</strong> Receive the disease name, confidence score, and recommendations in seconds. <br><br>
            </p>
        </section>
    </main>
    
    <footer>
        <p>© 2024 Tomato Disease Prediction System. All rights reserved.</p>
      </footer>
</body>
</html>